.card {
    width: 400px;
    height: 400px;
    margin: 40px;
    box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.75);
}

.mediaContainer {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    color: white;
    padding: 160px 30px;
    font-size: 20px;
}